monitoring
regression
clustering/ansur
nlp/venv
clustering/boston_housing
clustering/company_stockmovements/
clustering/fish/
clustering/recommanderSystem/NMF/input
clustering/venv
clustering/wikipedia_articles
classification/venv
classification/cat-vs-dogs
classification/chronic_kidney_disease
classification/Fashion MNIST
classification/horse-vs-human